{% extends "layout.html" %}

{% block  title  %} Chai Page{% endblock  %}

{% block content     %}

<h1> All chai page for u</h1>

<div class="grid grid-cols-3 gap-4">
{% for chai in chais  %}

<div class='chai-item'>
        <img class='h-80 w-96' src="{{chai.image.url}}">
        <h3>{{chai.name}}</h3>
        <a href="{% url 'chai_detail' chai.id %}" >
            <Button class="inline-flex items-center justify-center px-4 py-2 border text-sm font-medium rounded-sm bg-orange-600 w-52 hover:bg-black hover:text-white">{{chai.type}} - {{chai.id}} </Button>

        </a>
</div>

{% endfor %} 

</div>

{% endblock  %}

